---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-desc {
    font-family: neuzeit-grotesk-extra-conden, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.site-header, .site-footer h-card {
    font-family: neuzeit-grotesk-extra-conden, sans-serif;
    font-style: normal;
    border: none !important;
}

.site-header {
    top: 10%;
}


.headline-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 60px;
}

.headline-grid img {
    max-width: 350px;
    position: relative;
   /* top: 50%; */
   /* translate: translatey(-50%); */
}

.head-img {
    transition: all 3 s ease-in-out;
    -webkit-transition: all 3 s ease;
    box-shadow: 30px 20px 0 0 #ffde75;

}

.head-img:hover {
    box-shadow: 30px 20px 0 0 #ffde75;
    transition: all 6 s ease-in-out;
    -webkit-transition: all 6 s ease;
    background: url("/images/headshot3.jpg");  
}

.highlight {
    box-shadow: 0 10px 0 0 #ffde75;
}

.head-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}