---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-desc {
    font-family: neuzeit-grotesk-extra-conden, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.site-header, .site-footer h-card {
    font-family: neuzeit-grotesk-extra-conden, sans-serif;
    font-style: normal;
    border: none !important;
}

.site-header {
    background-color: rgba($color: white, $alpha: 0.95);
    position: fixed;
    top: 10%;
    margin-top: 21px;
}

.site-title {
    font-size: 1.7rem;
    color: rgb(3, 3, 3);
}

.site-title: hover {
    color: #ffde75;
}

.headline-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 60px;
}

// .headline-grid img {
//     max-width: 350px;
//     position: relative;
//    /* top: 50%; */
//    /* translate: translatey(-50%); */
// }

.head-img {
    box-shadow: 30px 20px 0 0 #ffde75;
    position:relative;
  
  margin:0 auto;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

}

.head-img:hover {
    box-shadow: 30px 20px 0 0 #ffde75;
    transition: all 6 s ease-in-out;
    -webkit-transition: all 6 s ease;
    background: url("/images/headshot3.jpg");  
}

.highlight {
    box-shadow: 0 10 px 0 0 #ffde75; 
}

.head-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}