---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@media (max-width: 700px) {
    .wrapper {
        max-width: 1410px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        vertical-align: baseline;
    }
} 

html {
    line-height: 1.6;
    color: #444444;
    font-family: 'Molengo', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    color: #444444;
}


a:hover {
    text-decoration: none;
    color: #ffde75;
}

.headline-grid {
    max-width: 1230px;
    position: relative;
    justify-content: flex-start;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding: 1.6rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
}

.head-wrap {
    line-height: 40px;
}

.social-media-list li a {
    float: left;
    padding-right: 21px;
    font-size: 21px;
}

a, a:visited {
    color: #4c9e38;
}

.social-media-list li a:hover {
    color: #ffde75;
}

.page-link a {
    color: #444444;
}

.site-nav a:hover {
    color: #ffde75;
}

a:hover, a:active, .page-link, a.site-title:hover {
    color: #ffde75;
}

.fas.fa-arrow-down {

    color: #ffde75;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
font-size: 50px;
}

.site-desc {
    font-family: 'Molengo', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.site-header, .site-footer, .site-title, .footer-copyright {
    font-family: 'Molengo', sans-serif;
    font-weight: 900;
    font-style: normal;
    border: none !important;
    color: #444444;
}

body {
    font-family: 'Molengo', sans-serif;
}

.site-header {
    background-color: rgba($color: white, $alpha: 0.95);
    top: 10%;
    margin-top: 21px;
}

.site-title {
    font-size: 1.7rem;
    color: rgb(3, 3, 3);
}

// PANEL CSS

.panel {
    flex: 1 1 50%;
    position: relative;
    border: 1px solid #efefef;
    margin: 30px;
}

.panel h1 {
    margin: 0;
}

.subtitle {
    margin: 0 0 15px;
    font-weight: 700;
    color: #6ca75d;
}

.panel p {
    margin: 0 0 30px;
}



.panel-content {
    padding: 30px 30px 30px;
}







.social-media-list li a {
    border: none;
    color: #444444;

}

@media (min-width: 550px) {
    
h2 {
    font-family: 'Molengo', sans-serif;
    color: #444444;
}

.head-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 3.33333rem;
    font-weight: 500;
    font-style: normal;
}

}

@media screen and (min-width: 543px) {
    .head-img {
        box-shadow: -20px -20px 0 0 #ffde75;
        position:relative;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        margin:0 auto;
        left:0;
    
    }
    
    .head-img:hover {
        box-shadow: -20px -20px 0 0 #ffde75;
        transition: all 10 s ease-in-out;
        -webkit-transition: all 10 s ease;
    }
}


.container {
  max-width: 1000px;
  
}

.row {
    box-sizing: border-box;
    
}

@media (min-width: 550px) {
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #ffde75 40%);
}

h2 {
    max-width: 700px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

div {
    display: block;
}



