---
layout: default
---

<div class="projects">
  
    <div class="panel" style="background-color: #dbf5ff;">
      <div class="panel-content">
          <a href="https://github.com/chiazo/wordAdder" onmouseover="this.style.color='darkblue'" onmouseout="this.style.color='black'"><h1>WordAdder</h1></a>
        
        <div class="subtitle"> A program to parse a website of igbo words and their definitions and export
            this information as a JSON file </div>
        <p>
            <center><a href="https://quizlet.com/_6j7wyw">Click to study the set</a>.</center>
        </p>
        <!-- <span class="cont highlight">Read More  →</span>-->
      </div>

      <div class="panel-image" style="background-image: url('/images/wordAdderDemo.gif')"></div>
    </div>
    <div class="panel" style="background-color: #e0ffdc;">
      <div class="panel-content">
        <a href="https://github.com/chiazo/read-learn" onmouseover="this.style.color='darkgreen'" onmouseout="this.style.color='black'"> <h1>readLearn</h1></a>
       
        <div class="subtitle"> A web app that takes in a text in another language, allowing the user to click words they don't know. Outputs a list of words to study later!</div>

        <div class="panel-details">

        </div>
        <p style="text-align: center">
           <a href="https://chiazo.github.io/read-learn">Click to starting reading.</a><br/>
        </p> 

       <!--<span class="cont highlight">Read More →</span> --> 

      </div>
      <div class="panel-image" style="background-image: url('/images/readlearn.gif')"></div>
    </div>
    
</div>