---
layout: default
---

<div class="container">
    <div class="grid">
        <div class="cell">
            <img src="../images/headshot2.jpg" class="respon-img">
        </div>
        <div class="cell">
            <img src="../images/unc3.jpg" class="respon-img">
        </div>
        <div class="cell">
            <img src="../images/headshot3.jpg" class="respon-img">
        </div>
        <div class="cell">
            <img src="../images/headshot1.jpg" class="respon-img">
        </div>
    </div>
</div>