---
layout: page
images: ../images/my-photography
---
<h2 class="highlight-yellow"> Colombia - Spring 2020 </h2>
<div class="container">
    <div class="grid">
        {% for image in site.static_files %}
            {% if image.path contains "images/my-photography/colombia" %}
                <div class="cell">
                    <img src="{{ site.baseurl }}{{ image.path }}" class="respon-img">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<h2 class="highlight-yellow"> Hong Kong - Summer 2019 </h2>
<div class="container">
    <div class="grid">
        {% for image in site.static_files %}
            {% if image.path contains "images/my-photography/hk" %}
                <div class="cell">
                    <img src="{{ site.baseurl }}{{ image.path }}" class="respon-img">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>



