---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}



  <div id="home-body" class="wrapper">
    <div class="headline-grid">
      <div class="head-wrap">
          <h2 class="head-text">
              <span class="highlight">Hi!</span>
              I'm Chiazo - a computer science major at Carolina. I enjoy making music, enhancing
              the language learning process, and binge watching video essays on Youtube. ✨
            </h2>
      </div>
      <div class="head-img">
        <img class="headshot" src="../images/headshot2.jpg" onmouseover="this.src='../images/headshot3.jpg'" onmouseout="this.src='../images/headshot2.jpg'">
      </div>
      
    </div>
    <br />
    <div class="arrow">
        <i class="fas fa-arrow-down" style="font-size: 21px"></i>
      </a>
    </div>
    <br />
    <div class="projects">
      <div class="panel">
        <div class="panel-content">

          <h1>WordAdder</h1>
          <div class="subtitle"> parse html to produce csv list of vocab words (java)</div>
          <p>
            took a lot of effort to make this thing but it worked! specifically
            for igbo vocab.
          </p>
          <span class="cont highlight">Read More</span> →
        </div>
      </div>

      <div class="panel">
          <div class="panel-content">
  
            <h1>brb, deactivating (2019)</h1>
            <div class="subtitle"> 6 song EP written, mixed, and mastered by me</div>
            <p>
              this was a 6 month project fueled by angst &
              the return of the jonas brothers.
            </p>

            <span class="cont highlight">Read More</span> →
            
          </div>
        </div>
    </div>
  </div>

  

</div>
