---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


  <div id="home-body" class="wrapper">
    <div class="headline-grid">
      <div class="head-wrap">
          <h2 class="head-text">
              <span class="highlight">Hi!</span>
              I'm Chiazo - a computer science major at Carolina. I enjoy making music, enhancing
              the language learning process, and binge watching video essays on Youtube. ✨
            </h2>
      </div>
      <div id="head-img">
        <img class="headshot-top" src="../images/headshot2.jpg">
        <img class="headshot-bot" src="../images/headshot3.jpg">
      </div>
      
    </div>
    <div class="arrow">
      <a href="#projects">
        <div class="arrow-symbol" style="opacity: 0.7;">

        </div>
      </a>
    </div>
    <div class="projects"></div>
  </div>

  

</div>
