---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}



  <div id="home-body" class="wrapper">
    <div class="headline-grid">
      <div class="head-wrap">
        <h2 class="head-text box">
          <span class="highlight first-line" style="text-align: center; font-weight: 800;">Hi,
            I'm Chiazo! 🌻</span><br /> —a comp sci major at <span class="highlight-blue"
            style="font-weight: 800;">UNC</span>. I enjoy <span class="highlight-green">making music</span>, enhancing
          the <span class="highlight-red">language learning</span> process, and binge watching <span
            class="highlight-purp">video essays</span> on Youtube. ✨
        </h2>
      </div>
      <div class="head-img box">
        <img class="headshot" src="../images/headshot2.jpg" onmouseover="this.src='../images/headshot3.jpg'"
          onmouseout="this.src='../images/headshot2.jpg'">
      </div>

    </div>
    <br />
    <div class="arrow">
      <i class="fas fa-arrow-down" style="font-size: 25px"></i>

    </div> <br /><br />
    <div class="img-fill top"></div>
    <br />
    <div class="projects">
      <div class="panel" style="background-color: #dbf5ff;">
        <div class="panel-content">

          <h1>WordAdder</h1>
          <div class="subtitle"> A program to parse a website of igbo words and their definitions and export
              this information as a JSON file </div>
          <p>
              <center><a href="https://quizlet.com/_6j7wyw">Click to study the set</a>.</center>
          </p>
          <!-- <span class="cont highlight">Read More  →</span>-->
        </div>

        <div class="panel-image" style="background-image: url('/images/wordAdderDemo.gif')"></div>
      </div>

      <div class="panel" style="background-color: #fffadc;">
        <div class="panel-content">

          <h1>brb, deactivating </h1>
          <div class="subtitle"> A 6 song EP written, mixed, and mastered over the course of 6 months</div>

          <div class="panel-details">

          </div>
          <p style="text-align: center">
             <a href="https://soundcloud.com/chiazo/sets/brb-deactivating">Click to listen.</a><br/>
          </p> 

         <!--<span class="cont highlight">Read More →</span> --> 

        </div>
        <div class="panel-image" style="background-image: url('/images/brbg.gif')"></div>
      </div>

      <div class="panel" style="background-color: #e0ffdc;">
        <div class="panel-content">

          <h1>readLearn</h1>
          <div class="subtitle"> A web app that takes in a text in another language, allowing the user to click words they don't know. Outputs a list of words to study later!</div>

          <div class="panel-details">

          </div>
          <p style="text-align: center">
             <a href="https://chiazo.github.io/readLearn">Click to starting reading.</a><br/>
          </p> 

         <!--<span class="cont highlight">Read More →</span> --> 

        </div>
        <div class="panel-image" style="background-image: url('/images/readlearn.gif')"></div>
      </div>
      <div class="panel" style="background-color: #ffdcdc;">
        <div class="panel-content">

          <!--<h1>brb, deactivating </h1>
          <div class="subtitle"> A 6 song EP written, mixed, and mastered over the course of 6 months</div>

          <div class="panel-details">

          </div>
          <p style="text-align: center">
             <a href="https://soundcloud.com/chiazo/sets/brb-deactivating">Click to listen.</a><br/>
          </p> 

         

        </div>
        <div class="panel-image" style="background-image: url('/images/brbg.gif')"></div> -->
      </div>
    </div>
  </div>


</div>