---
layout: default
---


<div class="container">
    <h1 class="highlight-purp2">brb, deactivating (2019)</h1>
    <div class="grid">
        <div class="cell">
                <img src="/images/brb.jpg">
        </div>
        <div class="cell">
                <iframe style="border: 0; width: 100%; height: 100%;" src="https://bandcamp.com/EmbeddedPlayer/album=116662959/size=large/bgcol=ffffff/linkcol=e99708/artwork=small/transparent=true/" seamless><a href="http://chiazo.bandcamp.com/album/brb-deactivating">brb, deactivating by Chiazo</a></iframe>
        </div>
        <div class="container">
            <p style="text-align: center;">this piece of work made me really happy. 
            there is something that felt so liberating about creating each song from scratch,
        about learning as I went. i enjoyed almost every second of this process; it was truly
    a lifelong dream realized. <br> <span class="highlight">tools</span>: my trusty ukulele, logic pro x, unc's media lab, APK midi keyboard  </p>
        </div>
    </div>
    
</div>